@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    
    }


.button{
    background: lightblue;
}

   #exampleModal{
       top: 70px;
       padding-top: 25px;
       display: block;
       opacity: unset;
   } 

   .adminBody{
    display: flex;
    justify-content: space-around;
    margin: 30px 100px;

   }

   .memberBody{
    margin: 30px 100px;
   }

   table{
       border: solid;
   }